body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(rgb(87, 121, 214), rgb(221, 55, 133));
}
form {
  width: 450px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 7px 0.5px rgb(184, 168, 168);
  text-transform: capitalize;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}
label {
  margin: 5px;
  display: inline-block;
  width: 100px;
  color: white;
}
input {
  width: 60%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(85, 82, 82);
  box-shadow: 0 0 0px 0.2px rgb(83, 80, 80);
  background-color: rgba(233, 223, 223, 0.3);
}
button {
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  width: 50%;
  margin: 5% auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 0.5px rgb(216, 208, 208);
  border: 1px solid rgb(41, 40, 40);
  color: white;
}
select {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid rgb(85, 82, 82);
  box-shadow: 0 0 0 0.5px rgb(63, 62, 62);
}
input:hover {
  border: 1px solid white;
}

select:hover {
  border: 1px solid black;
}
.button {
  text-align: center;
}

@media screen and (max-width: 500px) {
  body {
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
  form {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 7px 0.5px rgb(184, 168, 168);
    text-transform: capitalize;
  }
  input {
    display: block;
    width: 90%;
    margin: 5px 2px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(85, 82, 82);
    box-shadow: 0 0 0px 0.2px rgb(83, 80, 80);
    background-color: rgba(233, 223, 223, 0.3);
  }
  label {
    color: white;
    margin: 0;
    padding: 5px 3px;
  }
  select {
    padding: 5px;
    margin: 3px;
    margin-bottom: 20px;
    border: 1px solid rgb(85, 82, 82);
    box-shadow: 0 0 0 0.5px rgb(63, 62, 62);
  }
}
